{% extends "layout.html" %}
{% block content %}

<section class="who_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                <div class="img-box mt-3 me-4 float-start">
                    <img src="{{ url_for('static', filename='images/STUD.png') }}" alt="StudentConnect Image"
                        class="img-thumbnail">
                </div>
                <div class="detail-box mt-5">
                    <div class="heading_container">
                        <h2>
                            About StudentConnect
                        </h2>
                    </div>
                    <p>
                        StudentConnect is a web platform to support international students targeting students going to
                        universities where the
                        language barrier between English the main language of instruction and the common language of
                        communication is
                        particularly potent.
                        The platform will provide features such as personalized profiles and language-based community
                        groups. It aims to connect
                        students and foster a more welcoming academic environment by reducing social isolation and
                        strengthening peer support
                        networks.
                        For a potential broader scale application, the platform's target audience will expand to include
                        African students from
                        different regions of Africa and abroad, who attend African universities where English is the
                        main language of
                        instruction but not the language of communication. This broader scope will help address the
                        language and cultural
                        challenges international students face across the continent.
                        Currently, there isn't a single, centralized platform designed to cater to these specific needs
                        in Rwanda or throughout
                        Africa. Although student groups and general social media platforms exist, they do not provide
                        the specialized support
                        that this platform would, particularly in connecting students with like-minded peers in their
                        proximity. By focusing on
                        the specific needs of these students, the platform will actively promote their social and
                        academic well-being, making it
                        a unique and essential resource for international students in Africa.
                    </p>
                    <p>
                        International education is expanding rapidly, with Africa witnessing an increasing number of
                        students from diverse
                        linguistic backgrounds. However, these students often face challenges when the language of
                        instruction on campus is not
                        the primary language of communication. Rwanda is one such example where the language of
                        instruction in most of its
                        universities is English and although a larger percentage of the population understands English
                        to an acceptable degree,
                        over 90% of the population speak Kinyarwanda as the language of communication and only about
                        0.2% speak English
                        fluently (Chepkemoi, 2017; Eyssette, n.d.; Tour, 2021). This language barrier can lead to
                        academic struggles, social
                        isolation, and difficulties in forming connections, which are essential for both personal and
                        academic growth (Beelen &
                        Jones, 2015; Andrade, 2006).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

